.App {
  font-family: sans-serif;
  text-align: center;
}

.PostList section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.PostList section a {
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  background-color: pink;
  color: purple;
  border-radius: 5px;
}
